*{
  margin:0px;
  padding:0px;
}

.vh-100{
  height:100vh;
}

.radius-0{
  border-radius: 0 !important;
}

.modal-content{
  border-radius: 0 !important;
  border:0px !important;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}
p{
  margin:0 !important;
}
.modal-header {
  border:0px !important;

}

.sideBarIcon{
  flex:1;
}

.sideBarText{
  flex:2;
}

.f-13{
  font-size:13px !important;
}

.menu-item{
  color:white;
  background: linear-gradient(195deg,rgb(73,163,241),rgb(26,115,232));
  border: 1px solid lightgrey;
  padding: 0.5rem;
  border-radius:0.25rem;
}
.w-80{
  width:80% !important;
}
.img-item{
  width:50px;
  height:50px;
}
.my-5rem{
  margin:5rem 0!important;
}

.circle{
  border-radius: 5rem!important;
}
.img-50{
  width:100px;
  height:100px;
}
.hashtag{
  color:blue;
  font-weight: bolder;
}
.EEcom{
  color:maroon;
  font-weight: bolder;
}
.line-break-anywhere{
  line-break: anywhere !important;
}